<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">

<header>
    <%- include('header') -%>
</header>

<nav>
    <%- include('navbar') -%>
</nav>

<main>
    <div class="jumbotron">
        <h1 class="title">Welcome to EJS Pages</h1>
        <h2>Just when you thought it couldn't get in any tougher, it did with EJS.</h2>
        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Cras ultricies ligula sed magna dictum porta. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada. Sed porttitor lectus nibh.</p>
    </div>
</main>

<footer>
    <%- include('footer') -%>
</footer>

<script>
    // <%- include('scripts') -%>
</script>

</body>
</html>