<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Emp ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Doug</td>
        <td>Giblets</td>
        <td>DG1024</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>JT1841</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Ben</td>
        <td>Wantabe</td>
        <td>BW8492</td>
      </tr>
    </tbody>
  </table>