<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">

<header>
    <%- include('header') -%>
</header>

<nav>
    <%- include('navbar') -%>
</nav>

<main>
    <div class="jumbotron">
        <h1 class="title">NEWS</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
    <%- include('footer') -%>
</footer>

<script>
    // <%- include('scripts') -%>
</script>

</body>
</html>