<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">

<header>
    <%- include('header') -%>
</header>

<nav>
    <%- include('navbar') -%>
</nav>

<main>
  <div role="main" class="container">

    <br/><br/>

    <h2>New Page</h2>
<p>Data entry page</p>

<p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh. Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada.</p>

</div>
</main>

<footer>
    <%- include('footer') -%>
</footer>

<script>
    // <%- include('scripts') -%>
</script>

</body>
</html>