<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">

<header>
    <%- include('header') -%>
</header>

<nav>
    <%- include('navbar') -%>
</nav>

<main>
  <div role="main" class="container">

    <br/><br/>

    <h2>View Page</h2>


<p>Read-only page with the selected employee’s details.</p>

<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Donec sollicitudin molestie malesuada.</p>
</div>
</main>

<footer>
    <%- include('footer') -%>
</footer>

<script>
    // <%- include('scripts') -%>
</script>

</body>
</html>